services:
  postgres:
    image: postgres:16-alpine
    container_name: budget-app-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - budget-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
  ba-api:
    container_name: ba-api
    image: ba/ba:1.0.0
    ports:
        - "8080:8080"
    networks:
        - budget-network
    depends_on:
      - postgres


volumes:
  postgres_data:
    driver: local

networks:
  budget-network:
    driver: bridge